/* style.css */

/* Estilo para el mapa */
#map {
  height: 100vh;
}

/* Leyenda */
.legend {
  background: white;
  padding: 20px;
  line-height: 18px;
  color: #333;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  font-size: 15px;
  border-radius: 5px;
}

.legend i {
  float: left;
  margin-right: 6px;
  opacity: 0.9;
  width: 12px;
  height: 12px;
  display: inline-block;
}

.legend h4 {
  margin: 0 0 5px;
  font-size: 14px;
}

/* Barra superior fija */
/* Header */
#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #6b9cb3;
  color: #333;
  padding: 10px 20px;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
  display: flex;
  align-items: center;
}

#header h1 {
  margin: 0 0 0 10px;
  font-size: 18px;
  font-weight: normal;
  font-family: 'Merriweather', serif;
}

/* Logo */
#logo {
  height: 20px;
  width: auto;
}

/* Mapa debajo del header */
#map {
  height: calc(100vh - 50px);
  margin-top: 50px;
}
